@page "/"

<h1>Vditor Blazor</h1>

Vditor of blazor.

<Vditor.Editor @ref="editor" @bind-Value="value" @bind-Html="html" Mode="wysiwyg" Height="500" MinHeight="500" />

<br />
Html: @((MarkupString)html)
<br />

Content:@value

<br />
<br />
<button @onclick="()=>{ value = DateTime.Now.ToString(); }">Change Value</button>
<button @onclick="Click">Get Value</button>
@code{
    string value = "Hello Blazor!";
    string html;

    Editor editor;

    async Task Click()
    {
        var value = await editor.GetValueAsync();
        Console.WriteLine(value);
    }
}