@page "/"

<h1>Vditor Blazor</h1>

Vditor of blazor.

<Vditor.Editor @bind-Value="value" />

<Vditor.Editor @bind-Value="value" />

Content:@value


<button @onclick="()=>{ value = DateTime.Now.ToString(); }">Change Value</button>

@code{ string value; }
